<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="krishna Custom testNG Suit ">

  <test name="exampletest1">
    <classes>
       <class name="firsttestngpackage.Test1" />
    </classes>
  </test>
  
  <test name="exampletest2">
    <classes>
       <class name="firsttestngpackage.Test2" />
    </classes>
  </test>
  
  <test name="TestNGClass">
    <classes>
       <class name="firsttestngpackage.TestNGClass" />
    </classes>
  </test>
  
  
  
</suite>